In [1]:
import random
import time
from datetime import datetime 
from datetime import timedelta 
from pyspark.sql import SQLContext
from pyspark import SparkConf, SparkContext
from pyspark.sql.types import StructType
from pyspark.sql.types import StructField
from pyspark.sql.types import StringType
from pyspark.sql.types import DateType
import names
from random import randrange


sc = SparkContext(conf=SparkConf().setAppName("Random Date Generator").setMaster("local[2]"))
sqlContext=SQLContext(sc)

In [2]:
recruited = "1/1/2000 1:00 AM"

def recruited_date():
    
    format = '%m/%d/%Y %I:%M %p'
    
    fromTime = time.mktime(time.strptime("1/1/2000 1:00 AM", format))
    toRecruited = time.mktime(time.strptime("1/1/2019 11:59 PM", format))

    ptime = fromTime + random.random() * (toRecruited - fromTime)
    
    global recruited 
    recruited = str(time.strftime(format, time.localtime(ptime)))

    return  recruited

In [3]:
def retired_date(recruited_date):
    format = '%m/%d/%Y %I:%M %p'
    
    fromTime = time.mktime(time.strptime(recruited_date, format))
      
    end =  datetime.now().strftime(format)
    
    etime = time.mktime(time.strptime(str(end), format))
    
    ptime = fromTime + random.random() * (etime - fromTime)

    return time.strftime(format, time.localtime(ptime))

In [4]:
schema = StructType([StructField("id", StringType(), True),
                    StructField("Customer Name", StringType(), True),
                    StructField("Recruited Date", StringType(), True),
                    StructField("Retired Date", StringType(), True)
                   ])

In [5]:
rdd= sc.parallelize(list(range(100))).map(lambda x :(x,names.get_full_name(gender=['male','female'][randrange(2)]),recruited_date(),retired_date(recruited)))

In [6]:
df = sqlContext.createDataFrame(rdd, schema)

In [7]:
df.show(10)

+---+------------------+-------------------+-------------------+
| id|     Customer Name|     Recruited Date|       Retired Date|
+---+------------------+-------------------+-------------------+
|  0|     Rose Williams|12/19/2018 07:41 AM|02/16/2020 10:09 PM|
|  1|     Helen Scalise|05/15/2013 04:48 PM|04/13/2018 12:12 AM|
|  2|     Ann Covington|08/14/2008 03:24 AM|10/11/2013 11:52 AM|
|  3| Catherine Coleman|08/12/2008 10:04 PM|09/09/2016 07:27 AM|
|  4|      Jason Besley|09/04/2000 06:16 PM|01/10/2008 11:56 PM|
|  5|Woodrow Federgreen|07/28/2007 10:39 PM|03/04/2020 08:43 AM|
|  6|Patricia Decourcey|10/27/2003 12:51 PM|11/25/2018 09:59 AM|
|  7|         Rex Evans|10/31/2014 07:26 AM|08/12/2016 09:40 AM|
|  8|  William Hatfield|04/22/2010 10:48 AM|08/21/2019 03:34 PM|
|  9|    Pauline Landin|06/06/2007 07:17 PM|10/09/2010 05:26 PM|
+---+------------------+-------------------+-------------------+
only showing top 10 rows